{% extends "::base.html.twig" %} 

{% block title %}MRGeomatics - Contacto{% endblock %}

{% block body %}
<div class="container theme-showcase" role="main">
	<br><br><br>
		<h4>Contacto:</h4>

	<p>- En estos momentos nos encontramos en fase de desarrollo, pero atendemos igualmente sus 
	peticiones. Por favor diríjase a:<br></p>
	<table>
	<tr>
		<td>Carlos Moros Serrano</td>
		<td><i class="fa fa-envelope"></i></td>
		<td>carlostopo@hotmail.es</td>
		<td><i class="fa fa-phone"></i></td>
		<td>España: (+34) 639408845</td>
		<td>Alemania: (+49) 15903555569</td>
	</tr>
	<tr>
		<td>Natanael Recuenco Díez</td>
		<td><i class="fa fa-envelope"></i></td>
		<td>emaildenata@gmail.com</td>
		<td><i class="fa fa-phone"></i></td>
		<td>España: (+34) 687510613</td>
		<td>Austria: (+43) 68181389552</td>
	</tr>
	</table>
</div>
{% endblock %}